@keyframes bookNowBtn {
  0% {
    transform: scaleX(0);
    transform-origin: left; // Starts animation from left
  }

  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}

@keyframes heroBtn {
  0% {
    transform: scaleX(0);
    transform-origin: right; // Starts animation from right
  }

  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}

@keyframes leftImageMove {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }
}

@keyframes rightImageMove {
  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-8px);
  }
}
