@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap");

$font-heading: "Playfair Display", serif;
$font-body: "Lora", serif;
$font-xxlarge: 45px;
$font-xlarge: 38px;
$font-large: 32px;
$font-xmedium: 26px;
$font-medium: 22px;
$font-xsmall: 17px;
$font-small: 14px;

$font-xbold: 900;
$font-bold: 800;
$font-xxmediumbold: 700;
$font-xmediumbold: 600;
$font-mediumbold: 500;
