@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap");

$font-nav: "Playfair Display", serif;
$font-hero: "Cormorant Garamond", serif;
$font-body: "Lora", serif;
$font-xxxlarge: 60px;
$font-xxlarge: 45px;
$font-xlarge: 38px;
$font-large: 32px;
$font-xxmedium: 26px;
$font-xmedium: 24px;
$font-medium: 22px;
$font-xxxsmall: 19px;
$font-xxsmall: 17px;
$font-xsmall: 15.5px;
$font-small: 14px;

$font-xxbold: 1000;
$font-xbold: 900;
$font-bold: 800;
$font-xxmediumbold: 700;
$font-xmediumbold: 600;
$font-mediumbold: 500;
