@mixin subtitle($font-size, $color) {
  font-size: $font-size;
  color: $color;
}

@mixin title($font-size, $color, $width) {
  @include subtitle($font-size, $color);
  width: $width;
}

@mixin description($font-size, $color, $letter-spacing, $width) {
  @include description-nowidth($font-size, $color, $letter-spacing);
  width: $width;
}

@mixin description-nowidth($font-size, $color, $letter-spacing) {
  font-size: $font-size;
  color: $color;
  letter-spacing: $letter-spacing;
}
